In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
filename=input()

res.txt

In [3]:
l1=[]
with open(f"{filename}","r") as f:
    l1=f.readlines()

In [4]:
l1

['stemmed u100.xls 4890 60 40.923808574676514\n',
 'stemmed u100_50.xls 4865 85 46.20746660232544\n',
 'stemmed u200.xls 19728 172 132.38498616218567\n',
 'stemmed u200_50.xls 19563 337 141.67609000205994\n',
 'stemmed u100_80_01.xls 4873 77 47.04865574836731\n',
 'stemmed u300.xls 44594 256 277.96316289901733\n',
 'stemmed u300_50.xls 44253 597 271.26744985580444\n',
 'stemmed lol.xls 319404 2599 1801.3009884357452\n']

In [5]:
l2=[]
for i in l1:
    l2.append(i.strip('\n'))
print(l2)

['stemmed u100.xls 4890 60 40.923808574676514', 'stemmed u100_50.xls 4865 85 46.20746660232544', 'stemmed u200.xls 19728 172 132.38498616218567', 'stemmed u200_50.xls 19563 337 141.67609000205994', 'stemmed u100_80_01.xls 4873 77 47.04865574836731', 'stemmed u300.xls 44594 256 277.96316289901733', 'stemmed u300_50.xls 44253 597 271.26744985580444', 'stemmed lol.xls 319404 2599 1801.3009884357452']

In [6]:
print(len(l1[0]))

44

In [7]:
l3=[]
for i in l2:
    l=list(i.split())
    l3.append(l)
print(l3)

[['stemmed', 'u100.xls', '4890', '60', '40.923808574676514'], ['stemmed', 'u100_50.xls', '4865', '85', '46.20746660232544'], ['stemmed', 'u200.xls', '19728', '172', '132.38498616218567'], ['stemmed', 'u200_50.xls', '19563', '337', '141.67609000205994'], ['stemmed', 'u100_80_01.xls', '4873', '77', '47.04865574836731'], ['stemmed', 'u300.xls', '44594', '256', '277.96316289901733'], ['stemmed', 'u300_50.xls', '44253', '597', '271.26744985580444'], ['stemmed', 'lol.xls', '319404', '2599', '1801.3009884357452']]

In [8]:
df=pd.DataFrame(l3)

In [9]:
df

         0               1       2     3                   4
0  stemmed        u100.xls    4890    60  40.923808574676514
1  stemmed     u100_50.xls    4865    85   46.20746660232544
2  stemmed        u200.xls   19728   172  132.38498616218567
3  stemmed     u200_50.xls   19563   337  141.67609000205994
4  stemmed  u100_80_01.xls    4873    77   47.04865574836731
5  stemmed        u300.xls   44594   256  277.96316289901733
6  stemmed     u300_50.xls   44253   597  271.26744985580444
7  stemmed         lol.xls  319404  2599  1801.3009884357452

In [10]:
df.rename(columns={1:'file_taken',2:'predicted_number_of_unique_pairs',3:'predicted_number_of_ndd_pairs',4:'time_taken'},inplace=True)

In [11]:
df

,0,file_taken,predicted_number_of_unique_pairs,predicted_number_of_ndd_pairs,time_taken
0,stemmed,u100.xls,4890,60,40.923808574676514
1,stemmed,u100_50.xls,4865,85,46.20746660232544
2,stemmed,u200.xls,19728,172,132.38498616218567
3,stemmed,u200_50.xls,19563,337,141.67609000205994
4,stemmed,u100_80_01.xls,4873,77,47.04865574836731
5,stemmed,u300.xls,44594,256,277.96316289901733
6,stemmed,u300_50.xls,44253,597,271.26744985580444
7,stemmed,lol.xls,319404,2599,1801.3009884357452

In [12]:
df['total_links']=[100,100,200,200,100,300,300,803]

In [13]:
df

,0,file_taken,predicted_number_of_unique_pairs,predicted_number_of_ndd_pairs,time_taken,total_links
0,stemmed,u100.xls,4890,60,40.923808574676514,100
1,stemmed,u100_50.xls,4865,85,46.20746660232544,100
2,stemmed,u200.xls,19728,172,132.38498616218567,200
3,stemmed,u200_50.xls,19563,337,141.67609000205994,200
4,stemmed,u100_80_01.xls,4873,77,47.04865574836731,100
5,stemmed,u300.xls,44594,256,277.96316289901733,300
6,stemmed,u300_50.xls,44253,597,271.26744985580444,300
7,stemmed,lol.xls,319404,2599,1801.3009884357452,803

In [14]:
df['uniqueness_percentage']=[100,50,100,50,80,100,50,100]

In [15]:
df

,0,file_taken,predicted_number_of_unique_pairs,predicted_number_of_ndd_pairs,time_taken,total_links,uniqueness_percentage
0,stemmed,u100.xls,4890,60,40.923808574676514,100,100
1,stemmed,u100_50.xls,4865,85,46.20746660232544,100,50
2,stemmed,u200.xls,19728,172,132.38498616218567,200,100
3,stemmed,u200_50.xls,19563,337,141.67609000205994,200,50
4,stemmed,u100_80_01.xls,4873,77,47.04865574836731,100,80
5,stemmed,u300.xls,44594,256,277.96316289901733,300,100
6,stemmed,u300_50.xls,44253,597,271.26744985580444,300,50
7,stemmed,lol.xls,319404,2599,1801.3009884357452,803,100

pd.to_numeric(df['number_of_unique_pairs'])
pd.to_numeric(df['number_of_ndd_pairs'])

In [16]:
df['total_pairs_considered']=pd.to_numeric(df['predicted_number_of_unique_pairs'])+pd.to_numeric(df['predicted_number_of_ndd_pairs'])

In [17]:
df

,0,file_taken,predicted_number_of_unique_pairs,predicted_number_of_ndd_pairs,time_taken,total_links,uniqueness_percentage,total_pairs_considered
0,stemmed,u100.xls,4890,60,40.923808574676514,100,100,4950
1,stemmed,u100_50.xls,4865,85,46.20746660232544,100,50,4950
2,stemmed,u200.xls,19728,172,132.38498616218567,200,100,19900
3,stemmed,u200_50.xls,19563,337,141.67609000205994,200,50,19900
4,stemmed,u100_80_01.xls,4873,77,47.04865574836731,100,80,4950
5,stemmed,u300.xls,44594,256,277.96316289901733,300,100,44850
6,stemmed,u300_50.xls,44253,597,271.26744985580444,300,50,44850
7,stemmed,lol.xls,319404,2599,1801.3009884357452,803,100,322003

In [18]:
print(type(df.iat[1,3]))

<class 'str'>

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
list_of_conf_matrix=[]
import decimal as dc
for i in range(8):
    l_pred=[]
    l_pred.append(int(df['predicted_number_of_unique_pairs'][i]))
    l_pred.append(int(df['predicted_number_of_ndd_pairs'][i]))
    l_true=[]
    l_true.append(int(df['total_pairs_considered'][i])-int(df['uniqueness_percentage'][i])/100*int(df['total_links'][i]))
    l_true.append(int(df['uniqueness_percentage'][i])/100*int(df['total_links'][i]))
    conf_1=[str(min(l_pred[0],l_true[0])),str(max(0,l_true[0]-l_pred[0]))]
    conf_2=[str(max(0,l_true[1]-l_pred[1])),str(min(l_pred[1],l_true[1]))]
    a=np.array([conf_1,conf_2])
    list_of_conf_matrix.append(a)
    print(f"the confusion matrix for the {df['file_taken'][i]} is:")
    print(a)

the confusion matrix for the u100.xls is:
[['4850.0' '0']
 ['40.0' '60']]
the confusion matrix for the u100_50.xls is:
[['4865' '35.0']
 ['0' '50.0']]
the confusion matrix for the u200.xls is:
[['19700.0' '0']
 ['28.0' '172']]
the confusion matrix for the u200_50.xls is:
[['19563' '237.0']
 ['0' '100.0']]
the confusion matrix for the u100_80_01.xls is:
[['4870.0' '0']
 ['3.0' '77']]
the confusion matrix for the u300.xls is:
[['44550.0' '0']
 ['44.0' '256']]
the confusion matrix for the u300_50.xls is:
[['44253' '447.0']
 ['0' '150.0']]
the confusion matrix for the lol.xls is:
[['319404' '1796.0']
 ['0' '803.0']]

In [21]:
def final_table(cm):
    tp=float(cm[0][0])
    tn=float(cm[1][1])
    fp=float(cm[0][1])
    fn=float(cm[1][0])
#     print(tn)
    tot=tp+tn+fp+fn
    acc=(tp+tn)/(tot)
    err=(fp+fn)/(tot)
    sen=(tp)/(tp+fn)
    spe=(tn)/(tn+fp)
    ppv=(tp)/(tp+fp)
    npv=(tn)/(tn+fn)
    fpr=(fp)/(fp+tn)
    fnr=(fn)/(fn+tp)
    fdr=(fp)/(fp+tp)
    fomr=(fn)/(fn+tn)
    col1=['acc','err','sen','spe','ppv','npv','fpr','fnr','fdr','fomr']
    col2=[acc,err,sen,spe,ppv,npv,fpr,fnr,fdr,fomr]
    data=[]
    di={'acc':acc,'err':err,'sen':sen,'spe':spe,'ppv':ppv,'npv':npv,'fpr':fpr,'fnr':fnr,'fdr':fdr,'fomr':fomr}
    for i in range(len(col1)):
        l=[]
        l.append(col1[i])
        l.append(col2[i])
        data.append(l)
    df_local=pd.DataFrame(data,columns=['factor','ndd01_stemmed'])
#     df_local.rename(columns={0:'factor',1:'ndd01_stemmed'},inplace=True)
    return df_local

In [22]:
list_of_final_dataframes=[]
for i in range(len(list_of_conf_matrix)):
    list_of_final_dataframes.append(final_table(list_of_conf_matrix[i]))
    print(list_of_final_dataframes[i])

  factor  ndd01_stemmed
0    acc       0.991919
1    err       0.008081
2    sen       0.991820
3    spe       1.000000
4    ppv       1.000000
5    npv       0.600000
6    fpr       0.000000
7    fnr       0.008180
8    fdr       0.000000
9   fomr       0.400000
  factor  ndd01_stemmed
0    acc       0.992929
1    err       0.007071
2    sen       1.000000
3    spe       0.588235
4    ppv       0.992857
5    npv       1.000000
6    fpr       0.411765
7    fnr       0.000000
8    fdr       0.007143
9   fomr       0.000000
  factor  ndd01_stemmed
0    acc       0.998593
1    err       0.001407
2    sen       0.998581
3    spe       1.000000
4    ppv       1.000000
5    npv       0.860000
6    fpr       0.000000
7    fnr       0.001419
8    fdr       0.000000
9   fomr       0.140000
  factor  ndd01_stemmed
0    acc       0.988090
1    err       0.011910
2    sen       1.000000
3    spe       0.296736
4    ppv       0.988030
5    npv       1.000000
6    fpr       0.703264
7    fnr       0.000000
8    fdr       0.011970
9   fomr       0.000000
  factor  ndd01_stemmed
0    acc       0.999394
1    err       0.000606
2    sen       0.999384
3    spe       1.000000
4    ppv       1.000000
5    npv       0.962500
6    fpr       0.000000
7    fnr       0.000616
8    fdr       0.000000
9   fomr       0.037500
  factor  ndd01_stemmed
0    acc       0.999019
1    err       0.000981
2    sen       0.999013
3    spe       1.000000
4    ppv       1.000000
5    npv       0.853333
6    fpr       0.000000
7    fnr       0.000987
8    fdr       0.000000
9   fomr       0.146667
  factor  ndd01_stemmed
0    acc       0.990033
1    err       0.009967
2    sen       1.000000
3    spe       0.251256
4    ppv       0.990000
5    npv       1.000000
6    fpr       0.748744
7    fnr       0.000000
8    fdr       0.010000
9   fomr       0.000000
  factor  ndd01_stemmed
0    acc       0.994422
1    err       0.005578
2    sen       1.000000
3    spe       0.308965
4    ppv       0.994408
5    npv       1.000000
6    fpr       0.691035
7    fnr       0.000000
8    fdr       0.005592
9   fomr       0.000000